@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.trial_content:hover p,
.trial_content:hover a {
  letter-spacing: 2px;
}

.trial_content:hover h2:before {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.trial_content:hover h2:after {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.product_item {
  display: block;
}
.product_item img {
  width: 90%;
  transform: scale(1, 1);
  transition: all 0.5s;
}
.product_item img:hover {
  transform: scale(1.1, 1.1);
}
.product_item a {
  font-size: 24px;
  color: #272727;
}
.product_item a:hover {
  color: #e24647;
}

#services {
  padding: 60px 0;
}
#services .item_icon {
  color: #272727;
  background-color: #eee;
  width: 86px;
  height: 86px;
  line-height: 86px;
  border-radius: 50%;
  margin: 30px auto;
}
#services .item_icon:hover {
  color: #e24647;
}
#services .item_icon i {
  font-size: 22px;
}
#services .item_content a {
  font-weight: 600;
  color: #272727;
  font-size: 15px;
}
#services .item_content a:hover {
  color: #e24647;
}

#free_trial {
  padding: 70px 0;
  background-position: center top;
  background-image: url(./../img/htmlbottom-bg.jpg);
  background-size: cover;
  transition: all 0.5s;
  background-attachment: fixed;
}
#free_trial h2 {
  position: relative;
  font-weight: 600;
  color: white;
  font-size: 60px;
  margin: 50px 0 70px;
}
#free_trial h2::after, #free_trial h2::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -38px;
  width: 80px;
  height: 1px;
  background-color: white;
  transition: all 0.5s;
}
#free_trial h2 a {
  font-weight: 600;
  color: white;
  font-size: 60px;
}
#free_trial h2 a:hover {
  color: #e24647;
}
#free_trial p {
  transition: all 0.5s;
  font-size: 20px;
}

footer {
  padding: 30px 0;
}
footer .footer_content {
  display: flex;
  justify-content: flex-start;
}
footer .footer_content .footer_item {
  padding: 0 9px;
}
footer .footer_content .footer_item h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  color: #272727;
  padding: 15px 0;
  text-transform: uppercase;
  margin: 0;
}
footer .footer_content .footer_item li {
  padding: 5px 0;
}
footer .footer_content .footer_item li p {
  margin: 3px;
  font-size: 14px;
}
footer .footer_social {
  position: relative;
  padding: 20px 0;
  margin-bottom: 30px;
}
footer .footer_social::before, footer .footer_social::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100px;
  height: 1px;
  margin: 0 auto;
  background-color: #ddd;
}
footer .footer_social ul {
  margin: 20px 0;
}
footer .footer_social ul li a {
  font-size: 24px;
  color: #272727;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: block;
}
footer .footer_social ul li a:hover {
  color: #e24647;
}

#collection {
  background-color: #353538;
  padding: 35px 0;
}
#collection .collection_title .title_icon {
  color: #fff;
  margin: 0 20px 0 auto;
  border: 3px solid #c1af8a;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  line-height: 83px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection .collection_title .title_icon:hover {
  color: #e24647;
}
#collection .collection_title .title_content h4 {
  font-weight: 600;
  color: white;
  font-size: 24px;
  line-height: 1.1;
}
#collection button {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  padding: 15px 40px;
  background-color: #c1af8a;
  border: 1px solid transparent;
}
#collection button:hover {
  background-color: #e24647;
}

#banner_detail {
  background-image: url(../../img/breadcrum-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 38px;
  text-align: center;
}
#banner_detail p {
  font-weight: 400;
  color: #8a8a8a;
  font-size: 14px;
}
#banner_detail p span {
  font-size: 20px;
  color: #e24647;
}

#product_detail img {
  width: 100%;
}
#product_detail #detail_product .detail_img {
  width: 45%;
}
#product_detail #detail_product .detail_info {
  width: 60%;
}
#product_detail .btn-style {
  padding: 0 12px;
  text-align: center;
  border: 1px solid transparent;
}

.product_relate_item img {
  transform: scale(1);
  transition: all 0.5s;
}
.product_relate_item img:hover {
  transform: scale(1.1, 1.1);
}

.size.click {
  color: white;
  background-color: black;
}

.size {
  background-color: #c1af8a;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #272727;
  transition: all 0.5s;
}
.size:hover {
  color: white;
  background-color: black;
}

#form-register h2 {
  color: #f54134;
}
#form-register h4 {
  color: #272727;
}
#form-register label {
  color: #272727;
}
#form-register span {
  color: #f54134;
}

body {
  color: #8a8a8a;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 14px;
  transition: all 0.3s;
}
a:hover {
  color: #e24647;
}

p {
  margin: 0 0 10.5px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 958px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }
}
.button_add .btnAdd {
  border-radius: 8px;
  padding: 10px 20px;
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: all 0.3s;
}
.button_add .btnAdd:hover {
  background-color: #fbbf18;
  color: black;
}
.button_add .btnBuy {
  border-radius: 8px;
  padding: 10px 20px;
  border: 2px solid transparent;
  background-color: rgb(225, 104, 11);
  color: white;
  transition: all 0.3s;
}
.button_add .btnBuy:hover {
  background-color: #fbbf18;
  color: black;
}

.button_cart {
  display: flex;
  margin-bottom: 20px;
}
.button_cart input {
  border: 1px solid black;
  height: 37px;
}
.button_cart .cong {
  padding: 0 12px;
  border: 1px solid black;
  background-color: white;
  background-color: white;
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.button_cart .cong:hover {
  background-color: #fbbf18;
}
.button_cart .tru {
  padding: 0 12px;
  border: 1px solid black;
  background-color: white;
  background-color: white;
  border-left: none;
  border-radius: 0 3px 3px 0;
}
.button_cart .tru:hover {
  background-color: #fbbf18;
}

/* BACK TO TOP */
.back_to_top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background-color: #e24647;
  color: white;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
}
.back_to_top:hover {
  color: white;
}

.cd-top--is-visible {
  /* // back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

/* KEYFRAME */
@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes UpToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.navbar-collapse {
  align-items: center;
}
.navbar-collapse .nav-menu li a {
  font-size: 20px;
  transition: all 0.3s;
}
.navbar-collapse .nav-menu li a:hover {
  color: #f55f8d;
}
.navbar-collapse .nav-menu li a img {
  width: 70%;
  height: auto;
}
.navbar-collapse .nav a i {
  color: #272727;
  transition: all 0.5s;
  font-size: 20px;
  margin-right: 20px;
}
.navbar-collapse .nav a i:hover {
  color: #f55f8d;
}

#banner .bg {
  background-image: url(./../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  background-position: bottom center;
}
#banner .content_banner .text_content h2 {
  font-size: 36px;
  color: #e24647;
}
#banner .content_banner .text_content p {
  font-size: 20px;
  color: #272727;
}
@media (max-width: 768px) {
  #banner .bg {
    height: 70vh;
    width: 100vw; /* Giảm chiều cao */
    background-position: center bottom;
  }
  #banner .content_banner .text_content h2 {
    font-size: 28px;
  }
  #banner .content_banner .text_content h2 p {
    font-size: 16px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  #banner .bg {
    height: 50vh;
    width: 100%;
    background-position: right bottom;
  }
  #banner .content_banner .text_content h2 {
    font-size: 22px;
  }
  #banner .content_banner .text_content p {
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */