@import "./base/reset";
@import "./helper/variable";
@import "./helper/mixin";
@import "./theme/banner";
@import "./layout/product";
@import "./layout/collection";
body {
  color: #8a8a8a;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
}
a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 14px;
  transition: all 0.3s;
  &:hover {
    color: $hover-color;
  }
}
p {
  margin: 0 0 10.5px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 958px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }
}
#banner_detail {
}
#services {
  padding: 60px 0;
  .item_icon {
    color: $color-black;
    background-color: $bg-icon;
    width: 86px;
    height: 86px;
    line-height: 86px;
    border-radius: 50%;
    margin: 30px auto;
    &:hover {
      color: $hover-color;
    }
    svg {
      font-size: 22px;
    }
  }
  .item_content {
    a {
      @include styleText(600, $color-black, 15px);
      &:hover {
        color: $hover-color;
      }
    }
  }
}
#free_trial {
  padding: 70px 0;
  background-position: center top;
  background-image: url(./../img/htmlbottom-bg.jpg);
  background-size: cover;
  transition: all 0.5s;
  background-attachment: fixed;
  h2 {
    position: relative;
    @include styleText(600, white, 60px);
    margin: 50px 0 70px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -38px;
      width: 80px;
      height: 1px;
      background-color: white;
      transition: all 0.5s;
    }
    a {
      @include styleText(600, white, 60px);
      &:hover {
        color: $hover-color;
      }
    }
  }
  p {
    transition: all 0.5s;
    font-size: 20px;
  }
}
footer {
  padding: 30px 0;
  .footer_content {
    display: flex;
    justify-content: flex-start;
    .footer_item {
      padding: 0 9px;
      h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1;
        color: #272727;
        padding: 15px 0;
        text-transform: uppercase;
        margin: 0;
      }
      li {
        padding: 5px 0;
        p {
          margin: 3px;
          font-size: 14px;
        }
      }
    }
  }
  .footer_social {
    position: relative;
    padding: 20px 0;
    margin-bottom: 30px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100px;
      height: 1px;
      margin: 0 auto;
      background-color: #ddd;
    }
    ul {
      margin: 20px 0;
      li {
        a {
          font-size: $fs-icon;
          color: $color-black;
          width: 40px;
          height: 40px;
          line-height: 38px;
          display: block;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
}
