// reset scss
* {
  margin: 0;
  padding: 0;
}
body {
  color: #8a8a8a;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
}
a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 14px;
}
p {
  margin: 0 0 10.5px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 958px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }
}

footer {
  .footer_content {
    display: flex;
    justify-content: flex-start;
    .footer_item {
      padding: 0 9px;
      h4 {
        font-size: 14px;
        color: #272727;
        padding: 15px 0;
        text-transform: uppercase;
        margin: 0;
      }
      li {
        padding: 6px 0;
        p {
          margin: 0px;
          font-size: 14px;
        }
      }
    }
  }
}
/* BACK TO TOP */
.back_to_top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #f55f8d;
  color: white;
  border-radius: 8px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  opacity: 0;
  visibility: hidden;
}
.cd-top--is-visible {
  /* // back-to-top button visible */
  visibility: visible;
  opacity: 1;
}
/* nav */
.nav-menu {
  li {
    a {
      font-size: 20px;
      transition: all 0.3s;
      &:hover {
        color: #f55f8d;
      }
    }
  }
}
.nav {
  a {
    i {
      color: #272727;
      transition: all 0.5s;
      font-size: 20px;
      &:hover {
        color: #f55f8d;
      }
    }
  }
}
// register
#form-register {
  h2 {
    color: #f54134;
  }
  h4 {
    color: #272727;
  }
  label {
    color: #272727;
  }
  span {
    color: #f54134;
  }
}
