$color-gray-50: #787878;
$color-gray-100: #aaa;
$color-white: #fff;
$bg-background: #8a8a8a;
$bg-background-gray: #c1af8a;
$color-black: #272727;
$bg-icon: #eee;
$hover-color: #e24647;

$fs-title-1: 14px;
$fs-title-2: 15px;
$fs-title-3: 16px;
$fs-title-4: 18px;
$fs-icon: 24px;
