#banner_detail {
  background-image: url(../../img/breadcrum-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 38px;
  text-align: center;
  p {
    @include styleText(400, $bg-background, $fs-title-1);
    span {
      font-size: 20px;
      color: $hover-color;
    }
  }
}
.trial_content:hover p,
.trial_content:hover a {
  letter-spacing: 2px;
}
.trial_content:hover h2:before {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.trial_content:hover h2:after {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
