#collection {
  background-color: #353538;
  padding: 35px 0;
  .collection_title {
    .title_icon {
      color: #fff;
      margin: 0 20px 0 auto;
      border: 3px solid #c1af8a;
      border-radius: 50%;
      width: 86px;
      height: 86px;
      line-height: 83px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $hover-color;
      }
    }
    .title_content {
      h4 {
        @include styleText(600, white, 24px);
        line-height: 1.1;
      }
    }
  }
  button {
    @include styleText(600, $color-white, 18px);
    padding: 15px 40px;
    background-color: $bg-background-gray;
    border: 1px solid transparent;
    &:hover {
      background-color: $hover-color;
    }
  }
}
