.product_item {
  display: block;
  img {
    width: 90%;
    transform: scale(1, 1);
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  a {
    font-size: 24px;
    color: $color-black;
    &:hover {
      color: $hover-color;
    }
  }
}
